<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title th:text="${title + ' - Config Management Portal'}">Config Management Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<script defer th:src="@{/js/combined.js}"></script>
	<link rel="stylesheet" th:href="@{/css/combined.css}"/>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
</head>
<body>

</body>
</html>