<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="title='Edit'">
<head th:replace="~{header.html :: head}">
</head>
<body id="configEditPage">
<div class="container">

	<div class="columns mt-0">
		<div class="column">
			<h3 class="title is-3">
				<span class="icon mx-3">
					<i class="fas fa-desktop" aria-hidden="true"></i>
				</span>
				Config
			</h3>
		</div>
		<div class="column pb-0">
			<div class="field is-grouped is-justify-content-flex-end">
				<div class="control">
					<button th:data-href="'/config'" id="goBackButton" class="button is-outlined">Cancel / Back</button>
				</div>
				<div class="control">
					<button class="button is-success" id="saveButton">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="columns mt-0" id="header">
		<div class="column is-half">
			<div class="field">
				<label class="label">ID:</label>
				<div class="control">
					<input class="input" type="text" id="configId" th:value="${config?.id}" th:disabled="${config?.id}">
				</div>
				<p class="help is-danger is-hidden" id="configIdError">placeholder</p>
			</div>
			<div class="field">
				<label class="label">Name:</label>
				<div class="control">
					<input class="input" type="text" id="configName" th:value="${config?.name}">
				</div>
				<p class="help is-danger is-hidden" id="configNameError">placeholder</p>
			</div>
			<div class="field">
				<label class="label">Value:</label>
				<div class="control">
					<textarea class="textarea" id="configValue" th:text="${config?.value}"></textarea>
				</div>
				<p class="help is-danger is-hidden" id="configValueError">placeholder</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
