<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  th:with="title='List'">
<head th:replace="~{header.html :: head}">
</head>
<nav th:replace="~{navbar.html :: navbar}"></nav>
<body id="configListPage">
	<div class="container-fluid">
		<div class="card m-2">
			<table class="table is-striped is-fullwidth is-hoverable" id="configTable">
				<thead>
				<tr class="has-background-info">
					<th class="has-text-white">ID</th>
					<th class="has-text-white">Name</th>
					<th class="has-text-white">Value</th>
					<th class="has-text-white">Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="config: ${configs}" th:id="'config_' + ${config.id}">
					<td th:text="${config.id}" class="configId"></td>
					<td th:text="${config.name}" class="configName"></td>
					<td th:text="${config.value}" ></td>
					<td>
						<div class="buttons is-flex-wrap-nowrap mb-1">
							<a class="button has-text-danger mb-0" th:href="'/config/edit/' + ${config.id}" title="Edit">
								<span class="icon"><i class="fas fa-pencil-alt"></i></span>
							</a>

							<a class="button has-text-danger mb-0 deleteConfigButton" title="Delete">
								<span class="icon"><i class="fas fa-minus-circle"></i></span>
							</a>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal" id="deleteModal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Delete Config</p>
				<button class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<h5 class="subtitle">Do you really want to delete this config permanently?</h5>
				<p>Config ID: <span class="configId"></span></p>
				<p>Config Name: <span class="configName"></span></p>
			</section>
			<footer class="modal-card-foot">
				<a class="button is-success confirmDelete">Delete</a>
				<button class="button">Cancel</button>
			</footer>
		</div>
	</div>
</body>
</html>
